<launch>

 <arg name="initial_pose_x"/>
 <arg name="initial_pose_y"/>
 <arg name="initial_pose_a"/>

<node pkg="amcl" type="amcl" name="amcl" output="screen">
   
   <!-- <remap from="scan" to="base_scan"/> -->

  <!--remap from="scan" to="/test/scan"/-->
  
  <param name="initial_pose_x" value="$(arg initial_pose_x)"/>
  <param name="initial_pose_y" value="$(arg initial_pose_y)"/>
  <param name="initial_pose_a" value="$(arg initial_pose_a)"/>

  <!-- warehouse2 -->
  <!-- <param name="initial_pose_x" value="-2.94356725544"/>
  <param name="initial_pose_y" value="4.44336269362"/>
  <param name="initial_pose_a" value="0.85"/> -->

  <!-- clobot -->
  <!-- <param name="initial_pose_x" value="-1.36529378398"/>
  <param name="initial_pose_y" value="1.70713011011"/>
  <param name="initial_pose_a" value="2.72"/> -->

  <!-- short -->
  <!-- <param name="initial_pose_x" value="-5.886"/>
  <param name="initial_pose_y" value=" -6.093"/>
  <param name="initial_pose_a" value="0.0"/>  -->


  <!--Minimum allowed number of particles. -->
  <param name="min_particles" value="100"/> 
  <!--Maximum allowed number of particles. -->
  <param name="max_particles" value="5000"/> 
  
  <!--Translational movement required before performing a filter update.--> 
  <!-- <param name="update_min_d" value="0.2"/> -->
  <param name="update_min_d" value="0.05"/>
  <!--Rotational movement required before performing a filter update. -->
  <!-- <param name="update_min_a" value="0.52"/>  -->
  <param name="update_min_a" value="0.17"/> 
  <!--Number of filter updates required before resampling. -->
  <param name="resample_interval" value="2"/>
  <!--Number of filter updates required before resampling. -->
  <param name="transform_tolerance" value="0.1" />
 
  <!--Initial pose covariance (x*x), used to initialize filter with Gaussian distribution. -->
  <param name="initial_cov_xx" value="0.02"/> 
  <!--Initial pose covariance (y*y), used to initialize filter with Gaussian distribution. -->
  <param name="initial_cov_yy" value="0.02"/>
  <!--Initial pose covariance (yaw*yaw), used to initialize filter with Gaussian distribution. -->
  <param name="initial_cov_aa" value="0.02"/>
  <!--When set to true, AMCL will subscribe to the map topic rather than making a service call to receive its map. New in navigation XXXX-->
  <param name="use_map_topic" value="true"/>


  <!--Laser model parameters-->
  <param name="laser_model_type" value="likelihood_field"/>
  <!--How many evenly-spaced beams in each scan to be used when updating the filter. -->
  <param name="laser_max_beams" value="30"/>
  <!--Mixture weight for the z_hit part of the model. -->
  <param name="laser_z_hit" value="0.95"/>
  <!--Mixture weight for the z_rand part of the model. -->
  <param name="laser_z_rand" value="0.05"/>
  <!--Standard deviation for Gaussian model used in z_hit part of the model. -->
  <param name="laser_sigma_hit" value="0.2"/>  
  <!-- Maximum distance to do obstacle inflation on map, for use in likelihood_field model. -->
  <param name="laser_likelihood_max_dist" value="2.0"/>


  <!-- Odometery model parameters -->
  <!--Which model to use, either "diff" or "omni". -->
  <param name="odom_model_type" value="diff"/>
  <!-- Noise in odometry is rotation estimate from the rotational component of the robot is motion-->
  <param name="odom_alpha1" value="0.2"/>
  <!-- Noise in odometry is rotation estimate from translational component of the robotis  motion-->
  <param name="odom_alpha2" value="0.2"/>
  <!-- Noise in odometry is translation estimate from the translational component of the robot is motion-->
  <param name="odom_alpha3" value="0.2"/>
  <!-- Noise in odometry is translation estimate from the rotational component of the robot is motion-->
  <param name="odom_alpha4" value="0.2"/>

  <param name="odom_frame_id" value="clober_1/odom" />
  <param name="base_frame_id" value="clober_1/base_link"/>

</node>
</launch>
