<launch>
  <param name="/use_sim_time" value="true"/>
  
  <arg name="model" default="clober"/>
  <arg name="clober_0"  default="clober_0"/>
  <arg name="clober_1"  default="clober_1"/>
  <arg name="clober_2"  default="clober_2"/>
  <arg name="clober_3"  default="clober_3"/>

  <arg name="clober_0_x_pos" default="-3.0"/>
  <arg name="clober_0_y_pos" default=" 3.0"/>
  <arg name="clober_0_z_pos" default=" 0.0"/>
  <arg name="clober_0_yaw"   default=" -1.5708"/>

  <arg name="clober_1_x_pos" default=" 3.0"/>
  <arg name="clober_1_y_pos" default=" 3.0"/>
  <arg name="clober_1_z_pos" default=" 0.0"/>
  <arg name="clober_1_yaw"   default=" -1.5708"/>

  <arg name="clober_2_x_pos" default="-3.0"/>
  <arg name="clober_2_y_pos" default="-3.0"/>
  <arg name="clober_2_z_pos" default=" 0.0"/>
  <arg name="clober_2_yaw"   default=" 1.5708"/>


  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find clober_gazebo)/worlds/map_4x4.world"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>  

  <group ns = "$(arg clober_0)">
    <node name="map_server" pkg="map_server" type="map_server" args="$(find clober_gazebo)/map/map_4x4/map.yaml" />
    <include file="$(find clober_gazebo)/config/clober_0/amcl.launch">
      <arg name="initial_pose_x" value="$(arg clober_0_x_pos)"/>
      <arg name="initial_pose_y" value="$(arg clober_0_y_pos)"/>      
      <arg name="initial_pose_a" value="$(arg clober_0_yaw)"/>
    </include>

    <node pkg="move_base" type="move_base" name="move_base" output="screen">
      <param name="base_global_planner" value="global_planner/GlobalPlanner"/>
      <param name="base_local_planner" value="base_local_planner/TrajectoryPlannerROS"/>

      <rosparam file="$(find clober_gazebo)/config/clober_0/costmap_common_params.yaml" command="load" ns="global_costmap" />
      <rosparam file="$(find clober_gazebo)/config/clober_0/costmap_common_params.yaml" command="load" ns="local_costmap" />
      <rosparam file="$(find clober_gazebo)/config/clober_0/global_costmap_params.yaml" command="load" />
      <rosparam file="$(find clober_gazebo)/config/clober_0/local_costmap_params.yaml" command="load" />
      <rosparam file="$(find clober_gazebo)/config/clober_0/global_planner_params.yaml" command="load" />
      <rosparam file="$(find clober_gazebo)/config/clober_0/base_local_planner_params.yaml" command="load" />
    </node>

    <param name="robot_description" command="$(find xacro)/xacro --inorder $(find clober_description)/urdf/multi_10/clober_0.urdf.xacro" />

    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen">
      <param name="publish_frequency" type="double" value="50.0" />
      <param name="tf_prefix" value="$(arg clober_0)" />
    </node>
    
    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-urdf -model $(arg clober_0) -x $(arg clober_0_x_pos) -y $(arg clober_0_y_pos) -z $(arg clober_0_z_pos) -Y $(arg clober_0_yaw) -param robot_description" />
  </group>

  <group ns = "$(arg clober_1)">
    <node name="map_server" pkg="map_server" type="map_server" args="$(find clober_gazebo)/map/map_4x4/map.yaml" />
    <include file="$(find clober_gazebo)/config/clober_1/amcl.launch" >
      <arg name="initial_pose_x" value="$(arg clober_1_x_pos)"/>
      <arg name="initial_pose_y" value="$(arg clober_1_y_pos)"/>      
      <arg name="initial_pose_a" value="$(arg clober_1_yaw)"/>
    </include>

    <node pkg="move_base" type="move_base" name="move_base" output="screen">
      <param name="base_global_planner" value="global_planner/GlobalPlanner"/>
      <param name="base_local_planner" value="base_local_planner/TrajectoryPlannerROS"/>

      <rosparam file="$(find clober_gazebo)/config/clober_1/costmap_common_params.yaml" command="load" ns="global_costmap" />
      <rosparam file="$(find clober_gazebo)/config/clober_1/costmap_common_params.yaml" command="load" ns="local_costmap" />
      <rosparam file="$(find clober_gazebo)/config/clober_1/global_costmap_params.yaml" command="load" />
      <rosparam file="$(find clober_gazebo)/config/clober_1/local_costmap_params.yaml" command="load" />
      <rosparam file="$(find clober_gazebo)/config/clober_1/global_planner_params.yaml" command="load" />
      <rosparam file="$(find clober_gazebo)/config/clober_1/base_local_planner_params.yaml" command="load" />
    </node>

    <param name="robot_description" command="$(find xacro)/xacro --inorder $(find clober_description)/urdf/multi_10/clober_1.urdf.xacro" />

    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen">
      <param name="publish_frequency" type="double" value="50.0" />
      <param name="tf_prefix" value="$(arg clober_1)" />
    </node>

    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-urdf -model $(arg clober_1) -x $(arg clober_1_x_pos) -y $(arg clober_1_y_pos) -z $(arg clober_1_z_pos) -Y $(arg clober_1_yaw) -param robot_description" />
  </group>

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find clober_gazebo)/rviz/multi.rviz" >
    <remap from="/initialpose" to="/clober_0/initialpose"/>
    <remap from="/move_base_simple/goal" to="/clober_0/move_base_simple/goal"/>
  </node>
  
</launch>